body {
  background-color: #E7E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lalezar', cursive;
}

header {
  display: block;
  position: fixed;
  top: 0;
}

.center {
  display: flex;
  align-items: center;
}

@keyframes underline {
  from {border-bottom: 2px solid #E7E8E8;}
  to {border-bottom: 2px solid #838687;}
}

@keyframes type {
  from {content: attr(placeholder);}
  to {content: attr(placeholder);}
}

.underline {
  border-bottom: 2px solid #E7E8E8;
}

#search-bar:hover {
  animation-name: type;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#search-bar::before {
  content: attr(placeholder);
}

li {
  color: #616465;
  list-style: none;
}

.options:hover .underline {
  animation-name: underline;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.options {
  padding: 0px 25px 0px 25px;
}

h1 {
  display: block;
  position: fixed;
  top: 15vh;
  /* display: inline; */
  font-size: 72px;
  color: #838687;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  
  display: block;
  margin-top: 75px;
}

input {
  color: #181818;
  font-size: 1.5em;
  font-family: inherit;
  display: block;
  border-radius: 25px;
  border: 2px solid #616465;
  width: 70vw;
  height: 50px;
}

input[type="submit"] {
  font-size: 32px;
  background-color: #EAD240;
  color: #616465;
  display: block;
  margin: 15px;
  width: 30vw;
  height: 50px;
  /* transition: box-shadow 0.5s; */
  transition: background-color 0.5s, box-shadow 0.5s;
}

input[type="submit"]:hover {
	box-shadow: -5px 15px 15px 0px rgba(50, 50, 0, 0.4);
  background-color: #EBF260;
  cursor: pointer;
}

input[type="text"] {
  padding-left: 10px;
}

sidebar {
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
}

.sideItem {
    padding: 0;
}

.sideItemStyle {
	border-radius: 16px;
  padding: 10px;
  margin: 30px 0px 30px 5px;
  transition: box-shadow 0.5s, background-color 0.5s;

}

@keyframes outlines {
  from {background-color: none; border-radius: 0px}
  to {background-color: #B7BABB; border-radius: 16px;}
}

.sideItemStyle:hover {
	box-shadow: -5px 15px 15px 0px rgba(0, 30, 50, 0.4);
	background-color: #E9F1F2;
  /* animation-name: outlines; */
  /* animation-duration: 0.5s; */
  /* animation-fill-mode: forwards; */
}
